<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Jeemovm Shopping Cart</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
       @RenderBody()
    </body>
    <script src="~/Scripts/knockout-2.0.0.js"></script>
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/amplify.core.js"></script>
    <script src="~/Scripts/amplify.request.js"></script>
    <script src="~/Scripts/amplify.store.js"></script>
    <script src="~/Scripts/appConfig.js"></script>
    <script src="~/Scripts/home.dataService.js"></script>
    <script src="~/Scripts/shoppingCart.dataService.js"></script>
@*<script src="~/Scripts/shoppingViewModel.js"></script>*@
    <script src="~/Scripts/homeViewModel.js"></script>
    <script src="~/Scripts/app.js"></script>

</html>
